<p>Hey there! Thanks for visting my website!</p>
<p>Welcome to my professional project! I'm excited to able to show off some web development skills firsthand. This site, created using Angular, TypeScript, HTML, and CSS showcases proficiency in these technologies. More of my projects can be found on my GitHub page <a href="https://github.com/andrewrein17">here</a></p>
<p>If you have any inquiries, feedback, or just want to reach out, feel free to shoot me an email at <a href="mailto:andrewrein17@gmail.com">andrewrein17&#64;gmail.com</a>. Let's connect! </p>
